@import "../../variables";

.createDecisionForm__input:first-child {
  width: 98.6%;
}
.createDecisionForm__content {
  @include box;
  margin-block-start: 2%;
  padding: 1%;
  background-color: $background;
  & * {
    background-color: $background;
  }
}
.createDecisionForm__titles {
  text-align: center;
  padding-block: 1%;
}

.createDecisionForm__list {
  @include scroll;
  height: 100%;
  padding-block: 0.5rem;
  height: 14rem;
  border: 4px solid $background;
  background-color: $background;
  border-radius: 15px 0px 0px 0px;
}

.createDecisionForm__chosen {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-block: 1%;
  margin-inline: 1%;
  border-radius: 20px;
  background-color: $secondary-background;
  padding: 1%;
  &--avatar {
    @include avatar;
    margin-inline-end: 3%;
    width: 40px;
    height: 40px;
  }
  &--fullname {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin-inline-end: 1%;
  }
  & * {
    background-color: $secondary-background;
  }
}
.createDecisionForm__chosen--remove {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $tertiary-medium;
  border: 2px solid $tertiary-medium;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.createDecisionForm__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background;
  border-radius: 0px 0px 15px 0px;
  padding: 0.2rem;
  & input {
    all: unset;
    background-color: $background;
    padding: 2%;
    width: 100%;
  }
  & button {
    @include buttons;
    padding: 2%;
    margin: 0.2rem;
  }
}

.createDecision__scroll--section {
  @include scroll;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 80.5vh;
}
.createDecisionForm__content--decision {
  height: 85vh;
  width: 40vw;
  & .createDecisionForm__react-quill {
    background-color: $secondary-background;
    border-radius: 5px;
    padding: 0.5rem;
    min-height: 200px;
    margin-right: 1rem;
    overflow-y: scroll;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: currentColor rgb($primary-medium, 0.5);
    font-size: 1rem;
    @include scroll;
    &::-webkit-scrollbar {
      width: 12px;
    }
    & p,
    strong,
    em,
    u,
    ol,
    li,
    ul,
    h1,
    h2,
    h3,
    .ql-container,
    .ql-blank,
    .ql-editor {
      border: none !important;

      background-color: $secondary-background;
      font-size: 1rem;
    }
    & u {
      text-decoration: underline;
    }
    & .ql-toolbar {
      border: 2px solid $secondary-background !important;
      border-radius: 5px 0px 0px 0px;
      background-color: $background;
    }
    & .ql-container {
      max-height: 2rem;
    }
    &::-webkit-scrollbar-track {
      background: rgb($primary-medium, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: currentColor;
      border-radius: 20px;
      border: 3px solid rgb($primary-medium, 0.5);
    }
  }
  & input {
    border: 2px solid $secondary-background;
  }
  & label {
    padding-top: 1rem;
    font-weight: bold;
    font-size: larger;
    margin-block: 0.8%;
    &:first-child {
      font-size: 30px;
      & input {
        font-size: 20px;
        background-color: $secondary-background;
        border-radius: 5px;
        padding: 0.2rem;
      }
    }
  }
}
.createDecisionForm__status select {
  background-color: $secondary-background;
  border-radius: 5px;
  padding: 0.2rem;
  & option {
    border: none;
    background-color: $secondary-background;
  }
}

.createDecisionForm__status select {
  margin-inline-start: 1vw;
}
